{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ page.title }}{% endblock %}
{% block content %}
<h1>
    {{ page.title }}
</h1>

<section class="header">
    <dl>
        <dd>Author</dd>
        <dt>{{ config.extra.site_owner_name }}</dt>
        <dd>Published</dd>
        <dt><time datetime="{{ page.date }}">{{ page.date }}</time></dt>
        <dd>Words</dd>
        <dt>{{ page.word_count }}</dt>
    </dl>
</section>

{{ macros::resources(item=page) }}

{% if page.toc and config.extra.use_tocs %}
<section>
    <p>
    <ul>
        {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.path | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
            <ul>
                {% for h2 in h1.children %}
                <li>
                    <a href="{{ h2.path | safe }}">{{ h2.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    </p>
</section>
{% endif %}

{{ page.content | safe }}

{% endblock content %}