{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
{{ section.title }}
{% endblock %}

{% block content %}

<h1 class="title">
  {{ section.title }}
</h1>

{{ section.content | safe }}

{% if paginator %}
{% include "pagination.html" %}

{% for each_page in paginator.pages %}
{{ macros::content_item(item=each_page) }}
{% endfor %}

{% include "pagination.html" %}

{% else %}

{% for each_page in section.pages %}
{{ macros::content_item(item=each_page) }}
{% endfor %}

{% endif %}
{% endblock %}