{% macro youtube(id, autoplay=false) %}
<div>
    <iframe width="560" height="315"
        src="https://www.youtube-nocookie.com/embed/{{id}}{% if playlist %}?list={{playlist}}{% endif %}{% if autoplay %}?autoplay=1{% endif %}"
        webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
</div>
{% endmacro youtube %}

{% macro article(item, show_category, content_type_display_name) %}
<span style="float: right;">
    {{ self::card_resources(item=item) }}
</span>
<h5>
    {% if item.extra.external_link %}
    <a href="{{ item.extra.external_link }}">
        {{ item.title }}
        {% if config.extra.use_icons %}
        {{ self::svg(item="solid/link", alt="") }}
        {% endif %}
    </a>
    {% else %}
    <a href="{{ item.path }}">{{ item.title }}</a>
    {% endif %}
</h5>
<span class="metadata">
    {% if show_category %}{{ content_type_display_name }} |{% endif %}
    {% if item.extra.venue %}
    At {{ item.extra.venue }} |
    {% endif %}
    {% if item.word_count != 0 %}
    {{ item.word_count }} words |
    {% endif %}
    {{ item.date }}
</span>
{% endmacro article %}

{% macro presentation(item, show_category, content_type_display_name) %}
<span style="float: right;">
    {{ self::card_resources(item=item) }}
</span>
<h5><a href="{{ item.path }}">{{ item.title }}</a></h5>
<span class="metadata">
    {% if show_category %}{{ content_type_display_name }} |{% endif %} {{ item.extra.venue }} | {{ item.date }}
</span>
{% endmacro presentation %}

{% macro project(item, show_category, content_type_display_name) %}
<span style="float: right;">
    {{ self::card_resources(item=item) }}
</span>
<h5><a href="{{ item.path }}">{{ item.title }}</a></h5>
<span class="metadata">
    {% if show_category %} {{ content_type_display_name }} |{% endif %}
    {% if item.extra.project_type %}
    {{ item.extra.project_type }} |
    {% endif %}
    Launched {{ item.date }}
</span>
{% endmacro project %}

{% macro content_item(item, show_category=false) %}
<article>
    {% set item_section_name = item.ancestors | last %}
    {% set item_section = get_section(path=item_section_name) %}
    {% if not item_section.extra.content_type %}
    {{ throw(message="Unable to show content card for " ~ item.path ~
    " because its section does not have a content_type") }}
    {% endif %}
    {% if item_section.extra.content_type not in config.extra.content_types %}
    {{ throw(message="Configuration for content_type " ~ item_content_type ~ " is missing") }}
    {% endif %}
    {% set content_type = config.extra.content_types[item_section.extra.content_type] %}

    {% if content_type.card_type == 'article' %}
    {{ self::article(item=item, show_category=show_category, content_type_display_name=content_type.display_name) }}
    {% elif content_type.card_type == 'presentation' %}
    {{ self::presentation(item=item, show_category=show_category, content_type_display_name=content_type.display_name)
    }}
    {% elif content_type.card_type == 'project' %}
    {{ self::project(item=item, show_category=show_category, content_type_display_name=content_type.display_name) }}
    {% else %}
    {{ throw(message="The content_type " ~ item_section.extra.content_type ~ " has an invalid card_type " ~
    content_type.card_type) }}
    {% endif %}
</article>
{% endmacro content_item %}

{% macro svg(item, alt) %}
<img class="icon" src="/svgs/{{item}}.svg" alt="{{alt}}" />
{% endmacro svg %}

{% macro contact(type) %}
<a class="icon" title="{{ config.extra.contact[type].name }}" aria-label="{{ config.extra.contact[type].name }}"
    href="{{ config.extra.contact[type].link }}">
    {% if config.extra.use_icons %}
    {{ self::svg(item=config.extra.contact[type].icon, alt=config.extra.contact[type].name) }}
    {{ config.extra.contact[type].name }}
    {% else %}
    {{ config.extra.contact[type].name }}
    {% endif %}
</a>
{% endmacro contact %}


{% macro resources(item) %}
{% if item.extra.resources or config.extra.use_social_sharing %}
<nav>
    {% if item.extra.resources %}
    {% for resource_type, resource in item.extra.resources %}
    {% if resource.filename %}
    {% set link = item.path ~ resource.filename %}
    {% elif resource.link %}
    {% set link = resource.link %}
    {% elif resource.youtube_id %}
    {% set link = "https://www.youtube.com/watch?v=" ~ resource.youtube_id %}
    {% else %}
    {{ throw(message="Resources must have a link, filename, or YouTube id") }}
    {% endif %}
    <a class="resource {% if config.extra.use_icons %}icon{% endif %}" href="{{ link }}">
        {% if config.extra.use_icons and config.extra.resources[resource_type].icon %}
        {{ self::svg(item=config.extra.resources[resource_type].icon, alt=resource_type | title ) }}
        {% endif %}
        {% if config.extra.resources[resource_type].link_text %}
        {{ config.extra.resources[resource_type].link_text }}
        {% else %}
        {{ resource_type | title }}
        {% endif %}
    </a>
    {% endfor %}
    {% endif %}
    {% if config.extra.use_social_sharing %}
    <a class="icon" aria-label="Share on Twitter"
        href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.permalink }}&via={{ config.extra.contact.twitter.username }}&related={{ config.extra.contact.twitter.username }}"
        rel="nofollow" target="_blank" title="Share on Twitter">
        {% if config.extra.use_icons %}
        {{ self::svg(item="brands/twitter", alt="Twitter") }}
        {% else %}
        Twitter
        {% endif %}
    </a>
    <a class="icon" aria-label="Share on LinkedIn"
        href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.permalink }}&title={{ page.title }}&summary={{ page.title }}&source={{ page.permalink }}"
        target="_blank" title="Share on LinkedIn">
        {% if config.extra.use_icons %}
        {{ self::svg(item="brands/linkedin", alt="LinkedIn") }}
        {% else %}
        LinkedIn
        {% endif %}
    </a>
    <a id="email-link" class="icon" aria-label="Send Email"
        href="mailto:?subject={{ page.title }}&body={{ page.title }} - {{ page.permalink }}" target="_blank"
        title="Send Email">
        {% if config.extra.use_icons %}
        {{ self::svg(item="solid/envelope", alt="Email") }}
        {% else %}
        Twitter
        {% endif %}
    </a>
    {% endif %}
</nav>
{% endif %}
{% endmacro resources %}

{% macro card_resources(item) %}
{% if item.extra.resources %}
{% for resource_type, resource in item.extra.resources %}
{% if resource.filename %}
{% set link = item.path ~ resource.filename %}
{% elif resource.link %}
{% set link = resource.link %}
{% elif resource.youtube_id %}
{% set link = "https://www.youtube.com/watch?v=" ~ resource.youtube_id %}
{% else %}
{{ throw(message="Resources must have a link, filename, or YouTube id") }}
{% endif %}
{% if config.extra.resources[resource_type].show_on_card %}
<a class="{% if config.extra.use_icons %}icon{% endif %}" href="{{ link }}">
    {% if config.extra.use_icons and config.extra.resources[resource_type].icon %}
    {{ self::svg(item=config.extra.resources[resource_type].icon, alt=resource_type | title ) }}
    {% elif config.extra.resources[resource_type].link_text %}
    {{ config.extra.resources[resource_type].link_text }}
    {% else %}
    {{ resource_type | title }}
    {% endif %}
</a>
{% endif %}
{% endfor %}
{% endif %}
{% endmacro resources %}