{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ page.title }}{% endblock %}
{% block content %}
<h1>
    {{ page.title }}
</h1>

<section>
    <p>Published <time datetime="{{ page.date }}">{{ page.date }}</time> - {{ page.word_count }} words
    <address><a href="mailto:david@ktema.org">David Reed</a></address>
    </p>
</section>

{% if page.toc and config.extra.use_tocs %}
<section>
    <p>
    <ul>
        {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
            <ul>
                {% for h2 in h1.children %}
                <li>
                    <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    </p>
</section>
{% endif %}

{{ page.content | safe }}

{% endblock content %}

{% block footer %}
This site does not offer commenting. If you have a question or would like to start a conversation, please share on your
social or discussion platform of choice.
{% endblock %}