{% extends "datum/templates/base.html" %}

{% block rss %}
{% set rss_url = get_url(path="feed.xml", trailing_slash=false) %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ rss_url }}" />
{% endblock rss %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/syntax-theme-dark.css" media="(prefers-color-scheme: dark)" />
<link rel="stylesheet" type="text/css" href="/syntax-theme-light.css" media="(prefers-color-scheme: light)" />
<meta name="fediverse:creator" content="@aoristdual@floss.social">
<link rel="me" href="https://floss.social/@aoristdual" />
{% endblock %}
