{% macro youtube(id, autoplay=false) %}
<div>
    <iframe width="560" height="315"
        src="https://www.youtube-nocookie.com/embed/{{id}}{% if playlist %}?list={{playlist}}{% endif %}{% if autoplay %}?autoplay=1{% endif %}"
        webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
</div>
{% endmacro youtube %}

{% macro article(item, show_category) %}
<span style="float: right;">
    {{ self::card_resources(item=item) }}
</span>
<h5>
    {% if item.extra.external_link %}
    <a href="{{ item.extra.external_link }}">
        {{ item.title }}
        {% if config.extra.use_icons %}
        {{ self::svg(item="solid/link", alt="") }}
        {% endif %}
    </a>
    {% else %}
    <a href="{{ item.permalink }}">{{ item.title }}</a>
    {% endif %}
</h5>
<span class="metadata">
    {% if show_category %}Article |{% endif %}
    {% if item.extra.venue %}
    At {{ item.extra.venue }} |
    {% endif %}
    {% if item.word_count != 0 %}
    {{ item.word_count }} words |
    {% endif %}
    {{ item.date }}
</span>
{% endmacro article %}

{% macro publication(item, show_category) %}
<span style="float: right;">
    {{ self::card_resources(item=item) }}
</span>
<h5><a href="{{ item.permalink }}">{{ item.title }}</a></h5>
<span class="metadata">
    {% if show_category %}Publication |{% endif %} {{ item.date }}</span>
{% endmacro publication %}

{% macro presentation(item, show_category) %}
<span style="float: right;">
    {{ self::card_resources(item=item) }}
</span>
<h5><a href="{{ item.permalink }}">{{ item.title }}</a></h5>
<span class="metadata">
    {% if show_category %}Presentation |{% endif %} {{ item.extra.venue }} | {{ item.date}}
</span>
{% endmacro presentation %}

{% macro project(item, show_category) %}
<span style="float: right;">
    {{ self::card_resources(item=item) }}
</span>
<h5><a href="{{ item.permalink }}">{{ item.title }}</a></h5>
<span class="metadata">
    {% if show_category %} Project |{% endif %}
    {% if item.extra.project_type %}
    {{ item.extra.project_type }} |
    {% endif %}
    Launched {{ item.date }}
</span>
{% endmacro project %}

{% macro content_item(item, show_category=false) %}
<article>
    {% set item_section_name = item.ancestors | last %}
    {% set item_section = get_section(path=item_section_name) %}
    {% if item_section.title == 'Articles' %}
    {{ self::article(item=item, show_category=show_category) }}
    {% elif item_section.title == 'Talks' %}
    {{ self::presentation(item=item, show_category=show_category) }}
    {% elif item_section.title == 'Projects' %}
    {{ self::project(item=item, show_category=show_category) }}
    {% elif item_section.title == 'Publications' %}
    {{ self::publication(item=item, show_category=show_category) }}
    {% endif %}
</article>
{% endmacro content_item %}

{% macro svg(item, alt) %}
<img class="icon" src="/svgs/{{item}}.svg" alt="{{alt}}" />
{% endmacro svg %}

{% macro contact(type) %}
<a class="icon" title="{{ config.extra.contact[type].name }}" aria-label="{{ config.extra.contact[type].name }}"
    href="{{ config.extra.contact[type].link }}">
    {% if config.extra.use_icons %}
    {{ self::svg(item=config.extra.contact[type].icon, alt=config.extra.contact[type].name) }}
    {{ config.extra.contact[type].name }}
    {% else %}
    {{ config.extra.contact[type].name }}
    {% endif %}
</a>
{% endmacro contact %}


{% macro resources(item) %}
{% if item.extra.resources %}
{% for resource_type, resource in item.extra.resources %}
{% if resource.filename %}
{% set link = item.permalink ~ resource.filename %}
{% elif resource.link %}
{% set link = resource.link %}
{% elif resource.youtube_id %}
{% set link = "https://www.youtube.com/watch?v=" ~ resource.youtube_id %}
{% else %}
{{ throw(message="Resources must have a link, filename, or YouTube id") }}
{{ throw(message="Resources must have a link or filename") }}
{% endif %}
<a class="resource" href="{{ link }}">
    {% if config.extra.resources[resource_type].link_text %}
    {{ config.extra.resources[resource_type].link_text }}
    {% else %}
    {{ resource_type | title }}
    {% endif %}
</a>
{% endfor %}
{% endif %}
{% endmacro resources %}

{% macro card_resources(item) %}
{% if item.extra.resources %}
{% for resource_type, resource in item.extra.resources %}
{% if resource.filename %}
{% set link = item.permalink ~ resource.filename %}
{% elif resource.link %}
{% set link = resource.link %}
{% elif resource.youtube_id %}
{% set link = "https://www.youtube.com/watch?v=" ~ resource.youtube_id %}
{% else %}
{{ throw(message="Resources must have a link, filename, or YouTube id") }}
{% endif %}
{% if config.extra.resources[resource_type].show_on_card %}
<a class="{% if config.extra.use_icons %}icon{% endif %}" href="{{ link }}">
    {% if config.extra.use_icons and config.extra.resources[resource_type].icon %}
    {{ self::svg(item=config.extra.resources[resource_type].icon, alt=resource_type | title ) }}
    {% elif config.extra.resources[resource_type].link_text %}
    {{ config.extra.resources[resource_type].link_text }}
    {% else %}
    {{ resource_type | title }}
    {% endif %}
</a>
{% endif %}
{% endfor %}
{% endif %}
{% endmacro resources %}